@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  font-family: 'Sansation', sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
}

button {
  cursor: pointer;
}

